/*
=====================================================
; Title: Assignment 5.4- Dialogs
; Author: Professor Krasso
; Date 5 September 2021
; Modified By: Jourdan Neal
; Description: Creating dialog box to display book details and button to confirm/close.
=====================================================
*/


/*Styling for a-link*/
.a-link {
  text-decoration: none;
  cursor: pointer;
}
/*a-link hover*/
.a-link:hover{
  text-decoration: underline;
}
