<!--/*
=====================================================
; Title: Assignment 7.2 Reactive Forms
; Author: Professor Krasso
; Date 17 September 2021
; Modified By: Jourdan Neal
; Description: Using Reactive Forms to create Sign-In guard for GPA Calculator.
=====================================================
*/-->

<div fxLayout="row wrap" fxLayoutGap="20px">
  <div class="grade-form" fxFlex>
    <mat-card class="mat-elevation-z8">
      <!--Card-title-->
      <mat-card-title>Grade Entry</mat-card-title>

      <mat-card-content>
        <!--Form with two fields-->
        <form fxLayout="column" fxLayoutGap="16px">
          <!--Form field-->
          <mat-form-field fxFlex appearance="fill">
            <!--Form-field label-->
            <mat-label>Course</mat-label>
            <input type="text" name="txtCourse" id="txtCourse" matInput [(ngModel)]="transcriptEntry.course" />
          </mat-form-field>

          <!--Form field Select-->
          <mat-form-field fxFlex appearance="fill">
            <!--Form field Label-->
            <mat-label>Grade</mat-label>
            <!--Mat select-->
            <mat-select [(ngModel)]="transcriptEntry.grade" name="selectGrade">
              <!--Mat-option-->
              <mat-option *ngFor="let grade of selectableGrades" [value] ="grade">{{ grade }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!--Button-->
          <button mat-raised-button color="primary" (click)="saveEntry()">Save</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="grade-summary" fxFlex>
    <!--Add button above grade-summary, on click clearEntries-->
    <button mat-button color="primary" (click)="clearEntries()">Clear Transcript</button>
    <mat-card class="mat-elevation-z8">
      <!--Card-title for Transcript-->
      <mat-card-title>Transcript</mat-card-title>
      <!--Card-content with app-grade-summary component-->
      <mat-card-content>
        <app-grade-summary *ngFor="let entry of transcriptEntries" [course]="entry.course" [grade]="entry.grade"></app-grade-summary>
      </mat-card-content>
    </mat-card>
<br /><br /><!-- Breaks for spacing-->
</div>
</div>

<div fxLayout="column" fxLayoutGap="20px">
  <div fxFlex class="gpa">
    <!--Add button above card, click event to call calculateResults-->
    <button mat-button color="primary" (click)="calculateResults()">Calculate GPA</button>

    <mat-card class="mat-elevation-z8">
       <!--Card for GPA-->
      <mat-card-title style="text-align: center;">
        GPA: <app-gpa [gpaTotal]="gpaTotal"></app-gpa>
      </mat-card-title>
    </mat-card>
  </div>
</div>
