<!--
=====================================================
; Title: Assignment 4.4 Async PipeLine
; Author: Professor Krasso
; Date 28 August 2021
; Modified By: Jourdan Neal
; Description: Using observables and build reactive application.
=====================================================
*/-->

<div class="container" >
  <br /><br />
  <div class="row">
    <!--Left-hand image section-->

    <div class="col-sm-5">
        <!--Image with caption-->
        <figure>
          <img src="/assets/clara1.png">
          <!--Caption containing URL for photos-->
          <figcaption>
            Photo of Clara from<a href="http://www.clker.com/clipart-475195.html"> clker.com</a>
          </figcaption>
        </figure>
    </div>
    <!--Right-hand column containing Bio-->
    <div class="col-sm-7">
      <!--Title for Clara Schmann above bio-->
      <h3>Clara Schumann</h3>
      <br />
      <!--75 word bio-->
      <p>
        Clara was born on September 18, 1819 in Leipzig, Germany. By the age of 5
         she was a child prodigy and toured Paris before her teen years. In 1840 against
          her father’s wishes Clara married her husband, Robert Schumann. At the time
          Robert was an unknown composer. Clara and Robert had eight children between 1841 and
          1854. Clara worked to help circulate and managed her husband’s works and encouraged
          her husband to write his Piano Concerto, which she premiered and played often. Robert
           encouraged his wife’s work. Clara stopped composing after Robert’s death in 1865.
      </p>
      <br />
      <!--List of famous works-->
      <p><strong>Works:</strong></p>
        <ul>
          <li>Liebesfrühling (Love’s Spring), 1841</li>
          <li>Piano Concerto, 1836</li>
          <li>Piano Trio in G Minor, 1846</li>
        </ul>
    </div>
  </div>
</div>
