/*
=====================================================
; Title: Assignment 5.4- Dialogs
; Author: Professor Krasso
; Date 5 September 2021
; Modified By: Jourdan Neal
; Description: Creating dialog box to display book details and button to confirm/close.
=====================================================
*/

/*Margin for logo*/
.logo {
  margin-top: 5px;
}

/*Main container spacing*/
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
