<!--
=====================================================
; Title: Assignment 2.4 Routing in Action
; Author: Professor Krasso
; Date 13 August 2021
; Modified By: Jourdan Neal
; Description: Clara Schumann contact page.
=====================================================
*/-->

<!--Container containing page elements.-->
<div class="container">
  <!--BR and HR to separate information-->
  <br/>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <!--Title to contact Carla-->
      <h2><strong>Contact Carla Schumann</strong></h2>
    </div>
  </div>
  <!--Row for 2 divs (address and phone #)-->
  <div class="row">
    <!--Left-hand column with header and street address-->
    <div class="col-sm-6">
      <br /> <br />
        <!--Home icon and address header-->
        <i class="fa fa-home fa-5x"aria-hidden="true"></i>
        <h4>Address Information</h4>
        <!--List of addresses-->
        <ul>
        <li><strong>Mailing Address: </strong> Hauptmarkt 5<br> 08056 Zwickau, Germany</li>
        <li><strong>E-mail: </strong>schumannhaus@zwickau.de</li>
        <li><strong>Website: </strong><a href="https://www.schumann-portal.de/Robert_Schumann_House.html">
           www.schumannzwickau.de</a></li>
      </ul>
    </div>
    <!--Right-hand column with header a phone number-->
    <div class="col-sm-6">
      <br /><br />
      <!--Phone icon and header for phone numbers-->
      <i class="fa fa-phone fa-5x" aria-hidden="true"></i>
      <h4>Phone Numbers</h4>
      <!--List of phone numbers.-->
      <ul>
      <li><strong>Museum/Concert Hall:</strong> 0049 (0) 375. 83 44 06</li>
      <li><strong>Archive and Museum:</strong> 0049 (0) 375. 83 44 02</li>
      <li><strong>Fax:</strong> 0049 (0) 375. 83 44 99</li>
    </ul>
    </div>
  </div>
</div><!--closes the container-->
