/*
=====================================================
; Title: Assignment 7.3 Form Validation
; Author: Professor Krasso
; Date 17 September 2021
; Modified By: Jourdan Neal
; Description: Add data validation to the gpa-calculator-app, sign-in page.
=====================================================
*/

/* Adding top margin for logo image */
.logo {
  margin-top: 5px;
}

/*Center main container, add padding and width*/
.main-container {
  padding-top:25px;
  width: 80%;
  margin: 0 auto;
}
