/*
=====================================================
; Title: Assignment 5.2 Layout and Navigation
; Author: Professor Krasso
; Date 5 September 2021
; Modified By: Jourdan Neal
; Description: Using Angular Material to implement navigation, color theming, and working with flex-layout.
=====================================================
*/

.logo {
  margin-top: 5px;
}


.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
