<!--
=====================================================
; Title: Assignment 4.2 Inversion of Control and Dependency Injection
; Author: Professor Krasso
; Date 27 August 2021
; Modified By: Jourdan Neal
; Description: Using built in Dependency Injectors to create instance of service.
=====================================================
*/-->

<div class="row">
  <div class= "col-sm-12">
    <!--List-group unordered list.-->
    <ul class="list-group">
      <!--List items with variables referring back to elements of Composer Class.-->
      <li class="list-group-item"> Composer ID: {{ composer.composerId }}</li>
      <li class="list-group-item"> Full name: {{ composer.fullName }}</li>
      <li class="list-group-item">Genre: {{ composer.genre }}</li>
    </ul>
    <br />
    <a routerLink="/composer-list" class="float-right">Return to Composers</a>
  </div>
</div>
