<!--/*
=====================================================
; Title: Assignment 6.3 Layouts
; Author: Professor Krasso
; Date 12 September 2021
; Modified By: Jourdan Neal
; Description: Re-usable layouts-auth-layout and base-layout, re-useable layouts w/ different routes(including chlildren).
=====================================================
*/-->

<div fxLayout="column">
  <!--Mat card, with inline style and mat-elevation-z0-->
  <mat-card fxFlex style="margin-top:10%;width:50%;margin-left:18%" class="mat-elevation-z0">
    <!--Mat-card title-->
    <mat-card-title>
      <img src="../../assets/not-found-image.png" alt="">
    </mat-card-title>
    <!--Mat-card content-->
    <mat-card-content style="text-align: center; padding-left: 30%;">

      <!--Button to let user return to home, routerLink to Home page-->
      <button mat-raised-button color="accent" routerLink="/">Return Home</button>
    </mat-card-content>
  </mat-card>

</div>
