<!--
  =====================================================
  ; Title: Assignment 3.4 Guarding Routes
  ; Author: Professor Krasso
  ; Date 22 August 2021
  ; Modified By: Jourdan Neal
  ; Description: Creating guarding routes on enhanced-secure-profile app.
  =====================================================
  */-->

<!--Bootstrap unordered list-->
<ul class="list-group">
  <!--Full Name-->
  <li class="list-group-item"><strong>Full Name:</strong> {{ myProfile.fullName }}</li>
  <!--Favorite Food-->
  <li class="list-group-item"><strong>Favorite Food:</strong> {{ myProfile.favoriteFood}} </li>
  <!--Favorite Color-->
  <li class="list-group-item"><strong>Favorite Color:</strong> {{ myProfile.favoriteColor}} </li>
  <!--Keywords-->
  <li class ="list-group-item">
    <strong>Keywords:</strong>
    <!--Iterate through keywords array.-->
    <span *ngFor =" let word of myProfile.keywords">
      {{ word }}
    </span>
  </li>
</ul>
