/*
=====================================================
; Title: Assignment 7.2 Reactive Forms
; Author: Professor Krasso
; Date 17 September 2021
; Modified By: Jourdan Neal
; Description: Using Reactive Forms to create Sign-In guard for GPA Calculator.
=====================================================
*/

/* Adding top margin for logo image */
.logo {
  margin-top: 5px;
}

/*Center main container, add padding and width*/
.main-container {
  padding-top:25px;
  width: 80%;
  margin: 0 auto;
}
